html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: rgba($color: #000000, $alpha: 1.0);
    color: $white-color;
    user-select: none;
    line-height: 1.5rem;
}

.container{
    margin: 0 auto;
    width: $container-lg;
}

img{
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5{
    line-height: 1.2;
}

section{
    margin-top: 6rem;
    & > h2{
        text-align: center;
    }
    & > p{
        text-align: center;
        width: 42%;
        margin: 0.6rem auto 2.5rem;
    }
}

.btn{
    @include button();
}

.btn-primary{
    @include button($white-color, $primary-color); 
}

// media qurey medium device
@media screen and (max-width:1024px) {
   .container{
    width: $container-md;
   }
   section{
    & > p{
        width:55%;
    }

}
}
// media qurey medium device
@media screen and (max-width:1024px) {
    section{
        & > p{
            width: $container-md;
        }
    
    }
 }
